<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#1cb7d6"/>
    <meta name="description" content="Me!"/>
    <!-- Enable once we have a favicon -->
    <!-- <link rel="icon" href="%PUBLIC_URL%/favicon.ico" /> -->
    <link rel="stylesheet" href="/styles/styles.css"/>
    <title>{{title}}</title>
  </head>
  <body>
    <div id="root">
      <div id="content-wrapper">
        <nav id="nav-bar">
        asdf
      </nav>
        <main>
          {{ content | safe }}
        </main>
      </div>
    </div>
  </body>
</html>
