<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#383838"/>
    <meta name="description" content="Me!"/>
    <link rel="icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/theme.css"/>
    <title>{{title}} | Lucas Pickering</title>
  </head>
  <body>
    <div id="root">
      <div class="content-wrapper">
        <header>
          <nav class="nav-bar">
            {# Home link #}
            <div class="title-link-wrapper">
              <a class="title-link" href="/">A Thought</a>
              <p class="caption">(All I could muster)</p>
            </div>

            {# Other links #}
            <div class="other-links">
              <a href="/about/">About</a>
              <a href="https://github.com/LucasPickering">GitHub</a>
            </div>
          </nav>
        </header>

        <main class="main-content">
          {{ content | safe }}
        </main>

        <footer class="footer">
          <a href="/">Recursion!</a>
        </footer>
      </div>
    </div>
  </body>
</html>
