---
layout: default
---
<div class="post-header">
    <h1>{{ title }}</h1>
    {% if showDate %}
        <span class="post-date">{% date page.date %}</span>
    {% endif %}
</div>
{{ content | safe }}
