---
layout: default
---

{% markdown %}
{%- include "./about.md" -%}
{% endmarkdown %}

<div>
  <h2>Projects</h2>
  {%- for project in collections.project -%}
    <div>
      <h3>
        <a href="{{ project.url }}">{{ project.data.title }}</a>
      </h3>
      <img class="banner-small" src="{{ project.data.banner }}"/>
      <p>{{ project.data.summary }}</p>
    </div>
  {%- endfor -%}
</div>
