---
permalink: theme.css
dynamicPermalink: false
---
{% set css %}
{% include "./styles/global.css" %}
{% include "./styles/header.css" %}
{% include "./styles/main.css" %}
{% include "./styles/footer.css" %}
{% endset %}

{{css | cssmin | safe}}
