@use './colors.scss';

.navHeader {
  width: 100%;
}

.navHeader.overlay {
  position: absolute;
  left: 0;
  top: 0;

  padding: 0 24px;
  box-sizing: border-box; /* This makes the padding not overflow the parent */
  background-color: rgba(colors.$color-background, 0.8);
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  font-size: 2rem;
  padding: 8px 0;
}

.titleLink {
  font-size: 3.2rem;
}

.otherLinks {
  /* margin-top: 8px; */
  display: flex;
  column-gap: 16px;
}
