.contentWrapper {
  margin: 0 24px;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%; /* Needed so the footer can go to the bottom */
}

/* Main */

.mainContent {
  width: 100%;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto; /* always go to the bottom of the page */
  padding: 20px 0 8px 0;

  font-size: 1.4rem;
}

.footer > :not(:first-child) {
  margin-left: 16px;
}
