.postHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.postHeader.fullscreen {
  height: 100vh;
}

.postHeader h1 {
  margin: 0;
}

.postDate {
  font-size: 1.4rem;
}

.postLinks {
  display: flex;
  column-gap: 16px;
  margin: 16px 0;
  font-size: 2rem;
}

.banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.fullscreen .banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  height: 100%;
}
