.postTitleGroup {
  margin: 16px 0;
}

.postTitle {
  margin: 0;
}

.postDate {
  font-size: 1.4rem;
}

.banner {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.postSummary {
  margin-bottom: 0;
}
