@use './utils.module.scss';

.postHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.headerText {
  margin: 24px 0;
}

.postTitle {
  margin: 0;
}

.postSummary {
  font-size: 2rem;
  margin: 12px 0;
}

.postDate {
  font-size: 1.4rem;
}

.postLinks {
  display: flex;
  column-gap: 16px;
  margin: 16px 0;
  font-size: 2rem;
}

.banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

// Styles that get applied if the post is a "gallery", which puts more of a
// focus on the images than the text.
:global(.gallery) {
  .postHeader {
    height: 100vh;
  }

  .banner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    height: 100%; // Fill the whole screen
    margin: 0;
  }
}

.postBody > * {
  /* Rather than limiting the body's width, we limit each child individually.
  This lets children selectively ignore the restriction (e.g. fullscreen photos) */
  @include utils.narrow;
  // Horizontally center each element. We do this instead of flex on the parent
  // so that we still get vertical margin collapsing between elements.
  margin-left: auto;
  margin-right: auto;
}
