body {
  font-family: sans-serif;
  background: linear-gradient(-0.125turn, #9b1111, #0ea8c7);
  color: #f0f0f0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  margin: 0;
}

a {
  color: #0ea8c7;
}

a:visited {
  color: #9b1111;
}

#root {
  --bg-color: rgba(0.5, 0.5, 0.5, 0.5);
  max-width: 800px;
  padding: 16px;
  background-color: var(--bg-color);
  box-shadow: 0 0 20px 10px var(--bg-color);
}

header h1 {
  margin-top: 0;
}

.sections {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

/* If screen big, go two column */
@media (min-width: 832px) {
  .sections {
    grid-template-columns: 1fr 1fr;
  }
}

.projects > section + section {
  margin-top: 16px;
  border-top: 1px white solid;
  padding-top: 16px;
}

.project-header {
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, auto);
  row-gap: 4px;
  justify-content: space-between;
  align-items: center;
}

.project-header h3 {
  margin: 0;
}

.project-header nav {
  justify-self: end;
}

.project-date {
  font-size: 14px;
  margin: 0;
}

.caption {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 0;
}
