/* CSS related specifically to the nav header */

header {
  width: 100%;
}

.nav-bar {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  font-size: 2rem;
  padding: 8px 0;
}

.title-link-wrapper {
  display: flex;
  align-items: start;
}

.title-link {
  font-size: 3.2rem;
}

.caption {
  font-size: 1rem;
  margin: 8px 0 0 4px;
}

.other-links {
  margin-top: 8px;
}

.other-links > :not(:first-child) {
  margin-left: 16px;
}
